@import "tailwindcss";

@layer utilities {
  .font-name {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .font-name-others {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

html {
  scroll-behavior: smooth;
}
